:root{
    --main-color:#0090f0;
    --p-color:#7b7b7b;
    --bg-color:#f3f3f3;
    --white-color:#fff;
    --color-heading:#253237;
    --border-color:#d6d6d6d5;
}
.item-details{
    padding: 50px 0;
}
.item-details .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-details .imgs-item{
    width: 40%;
}
.item-details .imgs-item .big-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.item-details .imgs-item .big-img  img{
    max-height: 450px;
    width: auto;

}
.item-details .imgs-item .small-img {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item-details .imgs-item .small-img  img{
    width: 24%;
}
.item-details .details-item{
    width: 58%;
}
.item-details .details-item .name{
    margin-bottom: 30px;
    color: var(--main-color);

}
.item-details .details-item .stars{
    color:#f8d941;
    font-size: 22px;

}
.item-details .details-item .price{
    font-size: 22px;
    margin: 20px 0;

}
.item-details .details-item h5{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
.item-details .details-item .description{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
.item-details .details-item .btn{
    font-size: 16px;
    border-radius: 2px;
    padding: 15px 12px;

}
.item-details .details-item .btn svg{
    font-size: 18px;

}


.item-details .details-item .icons{
    display: flex;
    gap: 10px;
    transition: 0.3s;
    margin: 20px 0;
}
.item-details .details-item .icons span{
    width: 30px;
    height: 30px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.item-details .details-item .icons span:hover{
    background: var(--main-color);
}
.item-details .details-item .icons svg:hover{
    fill: var(--white-color);
    transition: 0.3s;
}



/* loading item */
.loading-item .item-details .imgs-item{
    height: 600px;
}
.loading-item .item-details .details-item{
    margin-left: 30px;
    height: 600px;
    padding-top: 100px;
}
.loading-item .item-details .details-item h5{
    margin-bottom: 50px;
    height: 30px;
}
.skeltion{
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg,
    rgba(255,255,255,0),
    rgba(255,255,255,0.5),
    rgba(255,255,255,0),
    );
    background-size: 40px 100%;
    background-position: left -40px top 0;
    animation: shine ease infinite;
}
@keyframes shine{
    to{
        background-position: right -40px top  0;
    }
}