:root{
    --main-color:#0090f0;
    --p-color:#7b7b7b;
    --bg-color:#f3f3f3;
    --white-color:#fff;
    --color-heading:#253237;
    --border-color:#d6d6d6d5;
}
.checkout{
    margin: 50px 0;
}
.checkout .ordersummary{
    width: 45%;
    padding: 0 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 8px 10px #c0bfbf44;
    border-radius: 5px;
    margin: 0 auto;
}
.checkout .ordersummary h1{
    border-bottom:1px solid var(--border-color);
    padding: 20px 0;
    margin-bottom: 20px;
    color: var(--main-color);
}
.checkout .items{
    height: 350px;
    overflow-y: auto;
}
.checkout .items .item-card{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    border-bottom: 1px solid var(--main-color);
    padding-right: 20px;
}
.checkout .items .item-card .image-name{
    display: flex;
    align-items: center;
    gap: 20px;
}
.checkout .items .item-card img{
    height: 80px;
    width: auto;
}
.checkout .items .item-card .img-item{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout .items .item-card h4{
    margin-bottom:10px ;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.checkout .items .item-card .delete-item{
    outline: none;
    border: none;
    background: transparent;
}
.checkout .items .item-card .delete-item svg{
    font-size: 25px;
    cursor: pointer;
    fill: rgb(157, 4, 4);
    transition: 0.3s;
}
.checkout .items .item-card .delete-item:hover svg{
    scale: 1.2;
}
.checkout .items .item-card  .quantity-control{
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
}
.checkout .items .item-card  .quantity-control .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    min-width:40px ;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}
.checkout .items .item-card  .quantity-control button{
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}
.checkout .button-summary{
    border-top: 1px solid var(--border-color);
    padding-top: 25px;
}
.checkout .button-summary .shop-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.checkout .button-summary .shop-table p{
    font-size: 20px;
    text-transform: capitalize;
}
.checkout .button-summary .shop-table .total-checkout{
    font-size: 20px;
    font-weight: bold;
}
.checkout .button-summary .button-div{
    border-top: 1px solid var(--border-color);
    padding: 30px 0;
}
.checkout .button-summary .button-div button{
    width: 100%;
    background: var(--main-color);
    color: var(--white-color);
    border:2px solid var(--main-color) ;
    padding: 15px 0 ;
    outline: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.checkout .button-summary .button-div button:hover{
    background: transparent;
    color: var(--main-color);

}